// Fonts
$title: "Advent Pro", sans-serif;
$heading: "Poppins", sans-serif;
$body: "Noto Sans Display", sans-serif;
$mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
  "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

$font-weight-light: 300;
$font-weight-reg: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
